* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(20, 22, 43);
  height: 100svh;
  width: 100svh;
}

.header {
  width: 100svw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
}

.header__search-wrapper {
  display: flex;
}

.header__search-bar {
  width: 30rem;
  height: 3rem;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  outline: none;
  padding-left: 2rem;
}

.header__btn {
  width: 4rem;
  height: 3rem;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #a4a4a4;
}

.header__error-message {
  height: 1rem;
  font-size: 1.3rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;

}

.main__planet-zoomed-view {
  display: none;
  align-items: center;
}

.main__planets-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80svh;
  width: 90svw;
}

.main__solen {
  position: relative;
  width: 30rem;
  height: 60rem;
  background: linear-gradient(to bottom, rgb(238, 203, 6), rgb(208, 92, 20), rgb(203, 66, 11), rgb(205, 128, 3), rgb(111, 43, 11));
  border-radius: 50%;
  transform: translateX(-30rem); 
  box-shadow: 15px 5px 90px rgb(220, 106, 6);
}

.main__merkurius {
  width: 2rem;
  height: 2rem;
  background-color: rgb(140, 139, 133);
  border-radius: 50%;
}

.main__venus{
  width: 3rem;
  height: 3rem;
  background-color: rgb(231, 204, 203);
  border-radius: 50%;
}

.main__jorden {
  width: 3.5rem;
  height: 3.5rem;
  background:  radial-gradient(ellipse at 50%, rgb(101, 152, 7), rgb(87, 128, 10), rgb(115, 187, 254), rgb(101, 152, 7), rgb(115, 187, 254), rgb(115, 187, 254));
  border-radius: 50%;
}

.main__mars{
  width: 2rem;
  height: 2rem;
  background: linear-gradient(to bottom, rgb(219, 144, 74), rgb(157, 88, 24), rgb(175, 118, 65), rgb(119, 79, 42), rgb(52, 40, 29));
  border-radius: 50%;
}

.main__jupiter{
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, rgb(219, 144, 74), rgb(157, 88, 24), rgb(175, 118, 65), rgb(119, 79, 42), rgb(52, 40, 29));
}

.main__saturnus {
  position: relative;
  width: 12rem;
  height: 12rem;
  background: linear-gradient(to bottom, rgb(238, 203, 6), rgb(208, 92, 20), #b8b08d, #b8b08d, rgb(111, 43, 11));
  border-radius: 50%;
  align-items: center;
}

.main__saturn__ring {
  position: absolute;
  width: 18rem;
  height: 15rem;
  border: solid 20px #b8b08d;
  border-radius: 50%;
  transform: rotate3d(1,0,0,75deg);
  border-top: none;
  left: -3.1rem;
}

.main__saturn__ring--big {
  position: absolute;
  width: 63rem;
  height: 64rem;
  border: solid 40px #b8b08d;
  border-radius: 50%;
  transform: rotate3d(1,0,0,75deg);
  border-top: none;
  left: -7.3rem;
}

.main__uranus{
  width: 6rem;
  height: 6rem;
  background-color: rgb(201, 212, 241);
  border-radius: 50%;
}

.main__neptunus {
  width: 6rem;
  height: 6rem;
  background-color: rgb(122, 145, 167);
  border-radius: 50%;
}

.main__close-info-wrapper {
  display: flex;
  justify-content: right;
}

.main__close-info-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  border: none;
}

.main__planet-info {
  background-color: rgb(20, 22, 43);
  color: white;
  display: none;
  justify-content: center;
  flex-direction: column;
  color: black;
  padding-left: 10rem;
  padding-right: 10rem;
  width: 80rem;
}

.main__planet-info-style--name {
  font-size: 7rem;
  color: white;
}

.main__planet-info-style--latin-name {
  color: rgb(255, 208, 41);
  font-size: 4rem;
  margin-bottom: 3rem;
}

.main__planet-info-style {
  color: gray;
  line-height: 1.7;
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.main__headers-info-wrapper {
  display: flex;
  border: 1px solid gray;
  border-left: none;
  border-right: none;
}

.main__headers-info--right-coloum {
  margin-left: 19rem;
}

.main_planet-info--headers {
  color: white;
}


@media only screen and (max-width: 600px) {
  .main__planets-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100svh;
    width: 100svw;
  }

  .main__sun {
    border: 1px solid rgb(255, 208, 41);
    width: 40rem;
    height: 40rem;
    background-color: rgb(255, 208, 41);
    border-radius: 50%;
    box-shadow: 0px 5px 90px rgb(255, 208, 41);
    transform: translateX(0rem); 
  }
}